extend layout
block content
  .menu
    a(class='menu__item' href='#about') about
    a(class='menu__item' href='#contact-us') contact us
    a(class='menu__item' href='#videos') videos

  .menu-content--wrapper
    .menu-content
      #about
        h3 about
        p.
          The Accomplished [Ta] is a semi-hardcore PvE guild based on EU servers.
        p.
          [Ta] was formed for speed-running dungeons and fractals by former
          members of other hardcore guilds looking for a more friendly environment.
        p.
          Currently we are looking for dedicated players, both PvE veterans,
          and new players wanting to take part in high-level PvE with a willingness to learn.
        p.
          We require the members to have and understand the use of at least two meta
          classes running meta builds from reputable sources.
        p.
          If "meta" meant nothing to you but you are willing to spend a little gold
          and some time learning we are also happy to introduce you to speed-running.
          Although this will require you to use the guild teamspeak server.

      #contact-us
        h3 contact us
        p.
          If you would like to ask us a question or are interested in joining The Accomplished
          [Ta] contact DanScott.4839 or boomboompow.6185 in game.

      #videos
        h3 videos
        p coming soon<sup>TM</sup>

  script(type='text/javascript').
    if (document.location.hash == '' || '#') {
       document.location.hash = '#about'
    }
