doctype
html
  head
    title The Accomplished [Ta]
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
  body
    header
      a(href='/')
        #header
          img(id="header__emblem" src="/images/emblem.svg")
          h1#header__title The Accomplished [Ta]
    .container
      block content
