extend layout
block content
  ul#links
    li
      a(class='link__item' href='http://www.guildwars2.com')
        p.link__item__title GuildWars2.com
        img(class='link__item__logo' src='/images/gw2-logo.png')

    li
      a(class='link__item' href='http://metabattle.com')
        p.link__item__title MetaBattle
        img(class='link__item__logo' src='/images/gw2-logo.png')

    li
      a(class='link__item' href='https://www.reddit.com/r/Guildwars2')
        p.link__item__title /r/guildwars2
        img(class='link__item__logo' src='/images/gw2-logo.png')

    li
      a(class='link__item' href='http://gw2efficiency.com')
        p.link__item__title GW2Efficiency.com
        img(class='link__item__logo' src='/images/gw2-logo.png')

    li
      a(class='link__item' href='http://gw2dungeons.net/')
        p.link__item__title GW2Dungeons
        img(class='link__item__logo' src='/images/gw2-logo.png')

    li
      a(class='link__item' href='http://www.dtguilds.com')
        p.link__item__title Death And Taxes
        img(class='link__item__logo' src='/images/gw2-logo.png')

    li
      a(class='link__item' href='http://wiki.guildwars2.com')
        p.link__item__title Guild Wars 2 Wiki
        img(class='link__item__logo' src='/images/gw2-logo.png')

    li
      a(class='link__item' href='https://www.gw2spidy.com/')
        p.link__item__title GW2 Spidy
        img(class='link__item__logo' src='/images/gw2-logo.png')
