.menu {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.menu__item {
  font-size: 1.2em;
  margin: 0 20px;
  text-decoration: none;
  color: #000;
}


.menu-content--wrapper {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-content {
  font-family: 'Roboto', sans-serif;
  max-width: 700px;
  margin: 0px auto;
}

.menu-content div {
  display: none;
}

.menu-content div:target {
  padding: 20px;
  display: block;
}
