.menu {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.menu__item {
  font-size: 1em;
  padding: 18px 20px;
  text-decoration: none;
  color: #000;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-content--wrapper {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-content {
  font-family: 'Roboto', sans-serif;
  max-width: 700px;
  margin: 0px auto;
}

.menu-content div {
  display: none;
}

.menu-content div:target {
  padding: 20px;
  padding-bottom: 60px;
  display: block;
}

.menu-content h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

.menu-content p {
  margin-top: 20px;
  line-height: 150%;
}

@media (min-width: 480px) {
  .menu {
    padding: 20px;
  }

  .menu__item {
    font-size: 1.2em;
    margin: 0 10px;
    padding: 18px 20px;
  }
}
